body {
  background: linear-gradient(to bottom, #87CEFA, #1E90FF);
}
header {
  background: linear-gradient(to bottom, #87CEFA, #1E90FF);
  width: 100%;
  height: 14vh;
  display: flex;
  font-family: Inter, sans-serif;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  height: 12vh;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.header-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


main {
  
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
}

.main-cards {
  display: flex;
  min-height: 50vh;
  width: 80%;
  min-width: 600px;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}

.main-details {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
  min-width: 300px;
}

.main-search {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.search-input {
  height: 40px;
  width: 70%;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-button {
  border-radius: 5px;
  height: 40px;
  width: 30%;
  border: none;
  background-color: #2e245e;
  color: #ffffff;
  cursor: pointer;
}

.main-details aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.cart-title {
  background-color: #26598c;
  color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-title h4 {
  font-size: 1.2rem;
}

.cart-empty {
  height: 120px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-products {
  height: 500px;
  width: 100%;
  background-color: #3ca7d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-x: auto;
}

.cart-list {
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cart-empty h5 {
  width: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-details {
  height: 110px;
  width: 100%;
  background-color: #333333;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details-values {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style: none;
}

.tag {
  margin: 5px;
  padding: 2px;
  border: none;
 font-weight: bold;
  color: #ffffff;
  max-width: fit-content;
}

.card {
  color: #232222;
  width: 250px;
  display: flex;
  text-align: start;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: 12px solid #3ca7d2;
  background-color: #3ca7d2;
  margin: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  
}
.card:hover{
  border: 12px solid #198ebc;
  background-color: #198ebc;
}

.description {
  margin: 5px;
  font-size: 14px;
}

.price {
  background-color: #3ca7d2;
  border: 2px solid #3ca7d2;
  border-radius: 4px;
  color: #fefeff;
  margin: 10px;
  font-size: 17px;
  font-weight: bold;
}

.name {
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}

.image {
  margin: 10px;
  height: 45%;
  width: 90%;
}

.btn,
.removeCart,
.addCart {
  margin: 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #8794fa, #1e7cff);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}
.btn:hover,
.removeCart:hover,
.addCart:hover {
  background: linear-gradient(to bottom,#033b88, #5e6eea);
}

.listBuy {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px dotted grey;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin: 5px;
}

.listBuy .image {
  width: 150px;
  height: 150px;
}
